.service-slider .swiper-pagination {
    bottom: -5px; /* Move dots further down */
}

.service-slider .custom-bullet {
    width: 10px; /* Increased size for better visibility */
    height: 10px;
    background-color: white; /* Default white color */
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for scaling */
}

.service-slider .custom-bullet.swiper-pagination-bullet-active {
    background-color: #005A4E; /* Active dot color */
    transform: scale(1.5); /* Make the active bullet larger */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Add shadow for emphasis */
}
